body {
    background-color: #fff;
    font-family: "Inter", sans-serif;
    margin: 0;
    color: #333;
    padding-top: 70px;
    cursor: url("../images/starr.png"), auto;
}

a, button, .icons span, .product-card {
    cursor: url("../images/starr.png"), pointer;
}

header {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #efedf1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.6);
    justify-content: space-between;
}

.header-left nav {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

    .header-left nav a {
        padding: 0 12px;
        text-decoration: none;
        color: #000;
        font-size: 12px;
        letter-spacing: 0.5px;
        font-weight: bold;
    }

        .header-left nav a:hover {
            text-decoration: underline;
        }

.header-right {
    display: flex;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

.icons span {
    margin-left: 10px;
    /*cursor: pointer;*/
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 50px;
    width: auto;
}

main {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    gap: 40px;
}

.product-image {
    flex: 1;
}

    .product-image .main-img img{
        width: 100%;
        aspect-ratio: 1 / 1;
        background-color: #eee;
        border: 1px solid #ccc;
    }

.thumbs {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

    .thumbs img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border: 1px solid #ccc;
        cursor: pointer;
        transition: 0.2s;
    }

        .thumbs img:hover {
            border-color: #111;
            transform: scale(1.05);
        }


.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Inter", sans-serif;
    color: #333;
}

    .product-info h2 {
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .product-info .price {
        font-size: 14px;
    }

.select-label {
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}

.custom-select {
    position: relative;
    width: 140px;
    user-select: none;
    font-size: 14px;
}

.select-selected {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px;
    /*cursor: pointer;*/
    font-weight: bold;
}

    .select-selected:after {
        content: "▼";
        position: absolute;
        right: 12px;
        top: 14px;
        font-size: 10px;
        color: #555;
    }

    .select-selected.active:after {
        content: "▲";
    }

.select-items {
    position: absolute;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 100%;
    margin-top: 4px;
    display: none;
    z-index: 99;
}

    .select-items div {
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.2s;
    }

        .select-items div:hover {
            background-color: #AEAEDE;
        }

    .select-items.show {
        display: block;
    }

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

.quantity-section label {
    font-size: 13px; 
    margin-right: 15px; 
    margin-top: 8px;
}

.quantity button {
    width: 25px;
    height: 25px;
    border: 1px solid #aaa;
    font-size: 14px;
    /*cursor: pointer;*/
    transition: 0.2s;
}

        .quantity button:hover {
            background-color: #AEAEDE;
        }

    .quantity span {
        width: 30px;
        text-align: center;
    }

.total-info {
    font-size: 12px;
    line-height: 1.8;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.buy-btn {
    background-color: #AEAEDE;
    border: none;
    padding: 10px 25px;
    color: #fff;
    /*cursor: pointer;*/
    transition: 0.2s;
}

.cart-btn {
    background-color: transparent;
    border: 1px solid #AEAEDE;
    color: #AEAEDE;
    padding: 10px 25px;
    /*cursor: pointer;*/
    transition: 0.2s;
}

.buy-btn:hover {
    background-color: #c8c0e8;
}

.cart-btn:hover {
    background-color: #AEAEDE;
    color: #fff;
}



.description {
    text-align: center;
    font-size: 10px;
    color: #444;
    margin-top: 40px;
    line-height: 1.6;
}

footer {
    text-align: left;
    font-size: 10px;
    color: #666;
    background-color: #EFEEF2;
    border-top: 50px solid #EFEEF2;
    padding: 20px 20px;
    margin-top: 50px;
}


